{% extends "base.html" %}
{% block head %}
{{ super() }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/form.js')}}"></script>
{% endblock %}

{% block content %}
<div class="section feedback">
    <div class="center-display">
        <div class="container-feedback gotham-extra-small">
            <form action="https://formspree.io/f/mdopvvey" method="POST">
                <div class="row">

                    <label class="feedback-label" for="exampleEmailInput">Your Email</label>
                    <input required class="u-full-width" type="email" placeholder="email@provider.com"
                        id="exampleEmailInput" name="_replyto"
                        title="So we can get in contact with you about the feedback!">
                </div>
                <div class="row">
                    <label class="feedback-label" for="exampleMessage">Comments</label>
                    <textarea required class="u-full-width" placeholder=". . ." id="exampleMessage"
                        name="message"></textarea>
                </div>
                <div class="row">
                    <button class="submit-feedback" type="submit" value="Submit">
                        <div class="flex-horizontal">
                            <span>Submit feedback</span>
                        </div>
                    </button>
                </div>
            </form>
            <div class="row border-top">
                <a href='play'>
                    <button id="backToGame" class="gotham-extra-small btn-stat margin-top-15">Back to game</button>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}