<!DOCTYPE html>
<html>

<head>
    <title>Which One</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/form.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/ui.js')}}"></script>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{url_for('static', filename='resources/favicon.ico')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Which One? A guessing/quiz game based on your spotify listening history.">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block styles -%}
    <link rel="stylesheet" type="text/css"
        href="https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/skeleton.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/normalize.css')}}">
    {% endblock %}
</head>

<body>
    <div class="bgimg-1">
        <div class="center-display full-height">
            <h1 class="gotham-medium">Feedback Form</h1>
            <div>
                <div class="container-form">
                    <form action="https://formspree.io/f/mdopvvey" method="POST">
                        <div class="row">

                            <div class="six.columns">
                                <label for="exampleEmailInput">Your Email</label>
                                <input class="u-full-width" type="email" placeholder="test@mailbox.com"
                                    id="exampleEmailInput" name="_replyto" title="So we can get in contact with you about the feedback!">
                            </div>

                            <div class="six.columns">
                                <label for="exampleRecipientInput">Concerning</label>
                                <select class="u-full-width" id="exampleRecipientInput">
                                    <option value="Option 1">Question</option>
                                    <option value="Option 2">Admiration</option>
                                    <option value="Option 3">Suggestion</option>
                                    <option value="Option 4">Bug Report</option>
                                </select>
                            </div>
                        </div>
                        <div class="six.columns">
                            <label for="exampleMessage">Message</label>
                            <textarea class="u-full-width" placeholder="Hi chaps..." id="exampleMessage"
                                name="message" maxlength="300"></textarea>
                                <input class="button-primary" type="submit" value="Submit">
                        </div>
                    </form>
                </div>
                <div class="container-vert-clear-small">
                    <a href='play'>
                        <button id="go-to-play">
                            Back to Play
                        </button>
                    </a>
                </div>
            </div>
</body>

</html>