<!DOCTYPE html>

<head>
    <title>Which One</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {% block styles -%}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">
    {% endblock %}
    {% block javascript %}
    <script type="text/javascript" src="{{url_for('static', filename='js/main.js')}}"></script>
    {% endblock %}

</head>

<body>

    <div class="bgimg-1">
        <div class="container">

            <!--Xander's testing zone. Enter at your own risk!-->
            <div>

                <p style= "color:white" id="text1">Text 1</p>
                <p style= "color:white" id="text2">Text 2</p>
        
            </div>

            <div>
                <button type="button" id= "artists" onclick="compareArtists()">artists</button>
                <button type="button" id= "tracks" onclick="compareTracks()">tracks</button>
            </div>

            <div class="center-display">
                <span class="w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">WHICH ONE?</span>
                <div>
                    <form action="/login">
                        <input type="submit" value="LOG IN" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>