<!DOCTYPE html>
<html lang="en">

<head>
    <title>Which One</title>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{url_for('static', filename='resources/favicon.ico')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Which One? A guessing/quiz game based on your spotify listening history.">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block styles -%}
    <link rel="stylesheet" type="text/css"
        href="https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/media.css')}}">

    {% endblock %}
    <script type="text/javascript">
        localStorage.clear();
    </script>
</head>

<body>
    <div class="container">
        <div class="center-display">
            <h1 class="gotham-header">Which One?</h1>
            <h2 class="gotham-small margin-bottom-30">A personalised Spotify quiz based on the music you listen to</h2>
            <a href="{{auth_url}}/">
                <button class="spotify-login">
                    <span class="span-container">
                        <img class="span-icon" alt="login with spotify" src="{{url_for('static', filename='resources/spotify-icon.png')}}"></img>
                        <p class="gotham-small">Log in with Spotify</p>
                    </span>
                </button>
            </a>
        </div>
    </div>
</body>

</html>