{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="container full-height limit-max-width">
    <div class="center-display">
        <h1 class="gotham-header">Which One?</h1>
        <h2 class="gotham-small margin-bottom-30">A personalised Spotify quiz based on the music you listen to</h2>
        <a href="{{auth_url}}/">
            <button class="spotify-login">
                <span class="span-container">
                    <img class="span-icon" alt="login with spotify"
                        src="{{url_for('static', filename='resources/spotify-icon.png')}}"></img>
                    <p class="gotham-small">Log in with Spotify</p>
                </span>
            </button>
        </a>
    </div>
</div>
{% endblock %}