<html lang="en">

<head>
    <title>Which One</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {% block styles -%}
    <link rel="stylesheet" type="text/css"
        href="https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">
    {% endblock %}
    {% block javascript %}
    <!-- Prevent logout then returning back-->
    <script type="text/javascript">
        function preventBack() {
            window.history.forward();
        }
        setTimeout("preventBack()", 0);
        window.onunload = function () {
            null
        };
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/main.js')}}"></script>
    {% endblock %}
</head>

<body>
    <div class="bgimg-1">
        <div class="container">
            <div class="nav-bar">
                <button id="sign-out" class="button-dark">
                    <a class="logout" href="/logout">
                        <span class="span-container">
                            <img class="span-icon-logout"
                                src="{{url_for('static', filename='resources/spotify-icon.png')}}"></img>
                            Sign out
                        </span>
                    </a>
                </button>
            </div>

            <div class="center-display">
                <h1 class="gotham-medium">
                    <span id="mode_intro"></span>
                    <span id="mode"></span>
                    <span id="mode_text"></span>
                    <span id="question_mark"></span>
                </h1>

                <div class="choice-display">
                    <button id="button-choice-1" class="choice choice1" data-choice="1">
                        <img id="image1" alt="album art photo cover" class="album_art">
                        <h4 class="gotham-small" alt="album art photo cover" id="text1a"></h4>
                    </button>
                    <button id="button-choice-2" class="choice choice2" data-choice="2">
                        <img id="image2" alt="album art photo cover" class="album_art">
                        <h4 class="gotham-small" id="text2a"></h4>
                    </button>
                    <button class="play-again button-dark hidden">Play Again</button>
                </div>
            </div>

            <div class="container-vert">
                <div class="container-score">
                    <h2 class="score" style="text-align: right;" id="current_score">0</h2>
                    <h4 class="score-label" style="text-align: right;">Current Score</h4>
                </div>

                <img id="life1" class="span-icon-small"
                    src="{{url_for('static', filename='resources/spotify-icon.png')}}" alt="life 1">
                <img id="life2" class="span-icon-small"
                    src="{{url_for('static', filename='resources/spotify-icon.png')}}" alt="life 2">
                <img id="life3" class="span-icon-small"
                    src="{{url_for('static', filename='resources/spotify-icon.png')}}" alt="life 3">

                <div class="container-score">
                    <h2 class="score" style="text-align: left;" id="high_score">0</h2>
                    <h4 class="score-label" style="text-align: left;">High Score</h4>
                </div>
            </div>

            <div id="stats-popup" class="container-vert negative-margin hidden">
                <div class="container-stats">
                    <h4 class="score-label" id="stats-text" color="white"></h4>
                </div>
            </div>

            <div id="options-popup" class="container-options">

                <div class="container-stats">
                    <label class="switch">
                        <input type="checkbox" id="danceBox">
                        <span class="slider round"></span>
                    </label>
                    <h4 class="options-label" id="danceToggle" color="white">Danceability?</h4>
                </div>

                <div class="container-stats">
                    <label class="switch">
                        <input type="checkbox" id="valenceBox">
                        <span class="slider round"></span>
                    </label>
                    <h4 class="options-label" id="valenceToggle" color="white">Upbeatness?</h4>
                </div>

                <div class="container-stats">
                    <label class="switch">
                        <input type="checkbox" id="durationBox">
                        <span class="slider round"></span>
                    </label>
                    <h4 class="options-label" id="durationToggle" color="white">Duration?</h4>
                </div>

            </div>
        </div>
    </div>
</body>

</html>