<!DOCTYPE html>

<head>
    <title>Which One</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {% block styles -%}
    <link rel="stylesheet" type="text/css"
        href="https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">
    {% endblock %}
    {% block javascript %}
    <script type="text/javascript" src="{{url_for('static', filename='js/main.js')}}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% endblock %}

</head>

<body>
    <div class="bgimg-1">
        <div class="container">
            <div class="center-display">
                <h1 class="gotham-medium">
                    <span id="mode_intro"></span>
                    <span id="mode" class="text-grey"></span>
                    <span id="mode_text"></span>
                </h1>

                <div class="choice-display">
                    <div class="choice choice1" onclick="makeGuess('1')">
                        <img id="image1" class="album_art" role="button">
                        <h4 class="gotham-small" id="text1a"></h4>
                    </div>

                    <div class="choice choice2" onclick="makeGuess('2')">
                        <img id="image2" class="album_art" role="button">
                        <h4 class="gotham-small" id="text2a"></h4>
                    </div>
                </div>
            </div>

            {% if user %}
            <div class="user-card">
                <div class="user-card-left">
                    
                    <img class="user-profile" src="{{user.profile_pic}}">
                </div>
                <div class="user-card-right">
                    <p class="score">Current Score: <span id="current_score">0</span></p>
                    <p class="score">High Score: <span id="high_score">0</span></p>
                    <div class="made-with">
                        <p class="name-small">{{user.display_name}}</p>
                        <span class="span-container">
                            <img class="span-icon-small"
                                src="{{url_for('static', filename='resources/spotify-icon.png')}}"></img>
                            <p>Which One?</p>
                        </span>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</body>

</html>