body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

body,
html {
  height: 100%;
  color: #777;
  line-height: 1.8;
  min-width: 260px;
}

/* Create a Parallax Effect */
.bgimg-1,
.bgimg-2,
.bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100% !important;
  position: absolute !important;
  overflow: hidden;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('https://images.pexels.com/photos/1105666/pexels-photo-1105666.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
}

.w3-wide {
  letter-spacing: 10px;
}

.w3-hover-opacity {
  cursor: pointer;
}

.container {
  height: 100%;
}

.container-score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  height: 100%;
  width: 200px;
  overflow: hidden;
}

.container-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.container-vert {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
  margin: 50px auto;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgb(49, 49, 49, 0.7);
  width: 700px;
  border-radius: 10px;
}

.center-display {
  display:flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}


.spotify-login {
  background-color: rgb(31,185,85);
  width: 400px;
  height: 90px;
  color: white;
  border-radius: 10px;
  font-size: 32px;
  border: none;
}

.spotify-login:hover, .spotify-login:active, .spotify-login:focus  {
  background-color: rgb(26, 150, 69);
  cursor: pointer;
}

.spotify-login:active, .spotify-login:focus {
  outline: 0;
  border: none;
}



.span-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.span-icon {
  height: 48px;
  width: 48px;
  margin: 0 8px;
}

.span-icon-small {
  height: 64px;
  width: 64px;
  margin: 0 8px;
}

.gotham-header {
  font-family: 'GothamPro';
  font-weight: bold;
  font-size: 9vw;
  color: white;
}

.gotham-medium {
  font-family: 'GothamPro';
  font-weight: bold;
  font-size: 3.5vw;
  color: white;
  text-align: center;
}

.text-grey {
  color: rgb(87, 83, 83) !important;
}

.gotham-small {
  font-family: 'GothamPro';
  font-weight: 500;
  font-size: 22px;
  color: white;
  margin: 0 auto;
  max-width: 90%;
  text-align: center;
}

.album_art {
  width: 340px;
  height: 340px;
  border-radius: 8px;
  object-fit: cover;
  margin-bottom: 10px;
}

.choice-display {
  display: flex;
  justify-content:center;
  align-items: center;
  width: 100%;
}

.choice {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 360px;
  height: 475px;
  padding: 10px;
  background-color: rgb(49, 49, 49, 0.7);
  margin: 10px 30px;
  border-radius: 10px;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.choice:hover {
  transform: scale(1.07);
}

.user-card {
  width: 650px;
  height: 200px;
  background-color: #FF000000;
  display: flex;
  flex-direction: row;
  font-family: 'GothamPro';
  font-weight: bold;
  color: black;
}

.user-card-left {
  width: 180px;
  background-color: none;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-card-right {
  background-color: none;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 490px;
  padding: 10px;
  
}

.user-profile {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  object-fit: cover;
}

.name {
  font-size: 35px;
  font-weight: bold;
  font-family: 'GothamPro';
  color: whitesmoke;
  margin: 0 auto;
}

.title {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.made-with {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  color: whitesmoke;
  font-size: 20px;
}

.score {
  width: 100%;
  font-size: 25px;
  margin: 0;
  color: whitesmoke;
  height: 45px;
}

.score-label {
  width: 100%;
  font-size: 25px;
  margin: 0;
  color: whitesmoke;
  text-align: center;
}

.negative-margin {
  margin: -30px auto !important;
}

.name-small {
  width: 100%;
  font-size: 20px;
  margin: 0;
  color: whitesmoke;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {

  .bgimg-1,
  .bgimg-2,
  .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}

@media only screen and (max-width: 860px) {
  .album_art {
    width: 300px;
    height: 300px;
  }
  
  .choice {
    width: 320px;
    height: 435px;
    padding: 10px;
    margin: 10px 20px;
  }

  .score {
    font-size: 20px;
  }
  
  .score-label {
    font-size: 20px;
  }

  .container-vert {
    width: 600px;
  }

  .container-score {
    width: 180px;
  }

  .span-icon-small {
    height: 48px;
    width: 48px;
    margin: 0 6px;
  }

  .gotham-small {
    font-weight: 500;
    font-size: 16px;
  }

  .spotify-login {
    background-color: rgb(31,185,85);
    width: 360px;
    height: 80px;
    font-size: 28px;
  }

  .span-icon {
    height: 40px;
    width: 40px;
    margin: 0 8px;
  }
}

@media only screen and (max-width: 700px) {
  .album_art {
    width: 250px;
    height: 250px;
  }
  
  .choice {
    width: 270px;
    height: 385px;
    padding: 10px;
    margin: 5px 10px;
  }

  .score {
    font-size: 18px;
  }
  
  .score-label {
    font-size: 18px;
  }

  .container-vert {
    width: 500px;
  }

  .container-score {
    width: 180px;
  }

  .span-icon-small {
    height: 43px;
    width: 43px;
    margin: 0 6px;
  }

  .gotham-small {
    font-weight: 400;
    font-size: 16px;
  }

  .spotify-login {
    background-color: rgb(31,185,85);
    width: 360px;
    height: 80px;
    font-size: 28px;
  }

  .span-icon {
    height: 40px;
    width: 40px;
    margin: 0 8px;
  }
}

@media only screen and (max-width: 600px) {
  .album_art {
    width: 230px;
    height: 230px;
  }
  
  .choice {
    width: 250px;
    height: 365px;
    padding: 10px;
    margin: 5px 10px;
  }

  .score {
    font-size: 15px;
  }
  
  .score-label {
    font-size: 15px;
  }

  .container-vert {
    width: 450px;
  }

  .container-score {
    width: 180px;
  }

  .span-icon-small {
    height: 32px;
    width: 32px;
    margin: 0 6px;
  }

  .gotham-small {
    font-weight: 400;
    font-size: 15px;
  }

  .spotify-login {
    background-color: rgb(31,185,85);
    width: 360px;
    height: 80px;
    font-size: 28px;
  }

  .span-icon {
    height: 40px;
    width: 40px;
    margin: 0 8px;
  }
}

@media only screen and (max-width: 500px) {
  .album_art {
    width: 180px;
    height: 180px;
  }
  
  .choice {
    width: 200px;
    height: 315px;
    padding: 10px;
    margin: 5px 10px;
  }

  .score {
    font-size: 13px;
  }
  
  .score-label {
    font-size: 13px;
  }

  .container-vert {
    width: 400px;
  }

  .container-score {
    width: 175px;
  }

  .span-icon-small {
    height: 25px;
    width: 25px;
    margin: 0 6px;
  }

  .gotham-small {
    font-weight: 400;
    font-size: 13px;
  }

  .spotify-login {
    background-color: rgb(31,185,85);
    width: 300px;
    height: 70px;
    font-size: 22px;
  }

  .span-icon {
    height: 30px;
    width: 30px;
    margin: 0 6px;
  }
}


@media only screen and (max-width: 400px) {
  .album_art {
    width: 130px;
    height: 130px;
  }
  
  .choice {
    width: 150px;
    height: 265px;
    padding: 10px;
    margin: 5px 10px;
  }

  .score {
    font-size: 12px;
  }
  
  .score-label {
    font-size: 12px;
  }

  .container-vert {
    width: 320px;
  }

  .container-score {
    width: 160px;
  }

  .span-icon-small {
    height: 20px;
    width: 20px;
    margin: 0 5px;
  }

  .gotham-small {
    font-weight: 400;
    font-size: 12px;
  }

  .span-icon {
    height: 48px;
    width: 48px;
    margin: 0 8px;
  }

  .spotify-login {
    background-color: rgb(31,185,85);
    width: 250px;
    height: 70px;
    font-size: 20px;
  }

  .span-icon {
    height: 26px;
    width: 26px;
    margin: 0 6px;
  }
}

@media only screen and (max-width: 300px) {
  .album_art {
    width: 80px;
    height: 80px;
  }
  
  .choice {
    width: 100px;
    height: 215px;
    padding: 10px;
    margin: 5px 5px;
  }

  .score {
    font-size: 10px;
  }
  
  .score-label {
    font-size: 10px;
  }

  .container-vert {
    width: 230px;
    height: 60px;
  }

  .container-score {
    width: 130px;
  }

  .span-icon-small {
    height: 12px;
    width: 12px;
    margin: 0 3px;
  }

  .gotham-small {
    font-weight: 400;
    font-size: 10px;
  }

  .spotify-login {
    background-color: rgb(31,185,85);
    width: 220px;
    height: 60px;
    font-size: 19px;
  }

  .span-icon {
    height: 24px;
    width: 24px;
    margin: 0 6px;
  }
}
