body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

body,
html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1,
.bgimg-2,
.bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('https://images.pexels.com/photos/1105666/pexels-photo-1105666.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-size: cover;
  height:100%;
}

.w3-wide {
  letter-spacing: 10px;
}

.w3-hover-opacity {
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 50px;
  height: 100%;
}

.center-display {
  display:flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}


.spotify-login {
  background-color: rgb(31,185,85);
  width: 400px;
  height: 90px;
  color: white;
  border-radius: 10px;
  font-size: 32px;
  border: none;
}

.spotify-login:hover, .spotify-login:active, .spotify-login:focus  {
  background-color: rgb(26, 150, 69);
  cursor: pointer;
}

.spotify-login:active, .spotify-login:focus {
  outline: 0;
  border: none;
}



.span-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.span-icon {
  height: 48px;
  width: 48px;
  margin-right: 15px;
}

.gotham-header {
  font-family: 'GothamPro';
  font-weight: bold;
  font-size: 140px;
  color: white;
}

.gotham-small {
  font-family: 'GothamPro';
  font-weight: normal;
  font-size: 20px;
  color: white;
  margin: 0 auto;
}

.album_art {
  width: 300px;
  height: 300px;
  border-radius: 30px;
}

.choice-display {
  display: flex;
  justify-content:center;
  align-items: center;
  width: 100%;
}

.choice {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 400px;
  height: 440px;
  padding: 0 25px;
}


/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {

  .bgimg-1,
  .bgimg-2,
  .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}