/* Media queries */
@media (max-width: 950px) {
    .gotham-medium {
        font-size: 4vw !important;
    }
}

@media (max-width: 650px) {
    
    .gotham-medium {
        font-size: 5vw !important;
    }
    
    .choice {
        width: 250px ;
        height: 365px ;
    }

    .choices {
        height: 365px ;
    }

    .choice-art img {
        width: 250px ;
        height: 250px ;
    }

    .span-icon-small {
        width: 25px;
        height: 25px;
    }

    .gotham-small {
        font-weight: 400 !important;
        font-size: 15px !important;
    }

    .play {
        font-size: 5vw !important;
    }

    .game-controls {
        margin-top: 50px;
    }
}

@media (max-width: 600px) {
    .choice {
        width: 230px ;
        height: 345px ;
    }

    .choices {
        height: 345px ;
    }

    .choice-art img {
        width: 230px ;
        height: 230px ;
    }

    .gotham-header {
        font-size: 13vw !important;
    }

    .stats-footer {
        margin: 4% 0 10px 0;
    }
}

@media (max-width: 550px) {
    .choice {
        width: 175px ;
        height: 290px ;
    }

    .choice-art img {
        width: 175px ;
        height: 175px ;
    }

    .span-icon-score {
        height: 18px;
        width: 18px;
        margin: 0 6px;
    }

    .span-icon-small {
        width: 22px;
        height: 22px;
    }

    .down {
        margin: auto 3px;
    }

    .button-dark {
        width: 110px;
        font-weight: 300 !important;
        font-size: 14px !important;
    }
    .line-height-small {
        line-height: 30px;
    }

    .flex-mobile {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media (max-width: 500px) {
    
    #score-mobile {
        display: flex !important;
        flex-direction: row;
        align-items: center;
    }

    #score-desktop {
        display: none !important;
    }

    .navigation {
        margin: 5px 5px 0 5px;
    }
    
    .choices {
        height: 270px ;
    }

    .choice {
        width: 155px ;
        height: 270px ;
    }


    .choice-art img {
        width: 155px ;
        height: 155px ;
    }

    .game-controls {
        margin-top: 30px;
    }

    .span-icon-reset {
        height: 16px;
        width: 16px;
    }

}


@media (max-width: 400px) {
    .choices {
        height: 225px ;
    }

    .choice {
        width: 130px ;
        height: 225px ;
    }

    .choice-art img {
        width: 130px ;
        height: 130px ;
    }

    .small-label {
        font-size: 15px !important;
    }

    .score h2 {
        font-size: 17px !important;
    }

    .span-icon-score {
        height: 22px;
        width: 22px;
    }

    .span-icon-small {
        width: 22px;
        height: 22px;
        margin: 0 3px;
    }

    .span-icon-logout {
        width: 16px;
        height: 16px;
    }

    .button-dark {
        width: 100px;
        font-size: 12px !important;
    }

    .game-controls {
        margin-top: 15px;
    }

    .span-icon-reset {
        height: 12px;
        width: 12px;
    }
}

@media (max-width: 330px) {
    
    .span-icon {
        width: 32px;
        height: 32px;
    }
    
    .choice {
        width: 114px ;
        height: 209px ;
    }

    .choices {
        height: 209px ;
    }

    .choice-art img {
        width: 114px ;
        height: 114px ;
    }

    .small-label {
        font-size: 12px !important;
    }
}

@media (max-width: 300px) {
    .choices {
        height: 205px ;
    }
    
    .choice {
        width: 110px ;
        height: 205px ;
    }

    .choice-art img {
        width: 110px ;
        height: 110px ;
    }
}
